@model MyWork.Models.Kurumsal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kurumsal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmaAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VergiDairesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VergiDairesi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VergiNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VergiNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yetkili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yetkili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GSM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GSM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Not)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Not)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppliedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppliedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
